{% extends 'AppTickets/index.html' %}

{% block title %}About{% endblock title %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">About us</h1>
<p>Below learn more about us, the Ticket Tool developers!</p>
{% endblock header %}


{% block content %}
<br>
<p><b>Ticket Tool is a project developed by Thomas Bransburg and Florencia Borda. Our goal is to improve the communication between the employees from a company and the IT Team that will assist them.</b></p>
<br>
<img src="https://media-exp1.licdn.com/dms/image/C4D03AQFkBXdW9BCISA/profile-displayphoto-shrink_800_800/0/1652367387223?e=1668038400&v=beta&t=gswXQsbWW-xdD6_VY7Ada0tTvENvxGyfglVxyN9siQ4" alt= “FlorenciaBorda“ style="max-width: 150px;">
<h1><b>Florencia Borda</b></h1>
<p>  <li>Bachelor in Business Administration. Tax Specialist in Global Compliance Services. Python student in CoderHouse.</p>
<div class="container">
    <li class="list-inline-item me-4">
        <a href="https://github.com/fborda99"><i class="bi-github fs-5"></i></a>
    </li>
    <li class="list-inline-item me-4">
        <a href="https://www.linkedin.com/in/florencia-borda/"><i class="bi-linkedin fs-5"></i></a>
    </li>
</div>
<br><br>
<img src="https://media-exp1.licdn.com/dms/image/C5603AQEUBjLcG2lQgw/profile-displayphoto-shrink_800_800/0/1584560665077?e=1668038400&v=beta&t=ymAd5Gwaz42rzJRozBF-Zjiu_ugw7sG5CciYvYCN5hk" alt= "ThomasBransburg" style="max-width: 150px;">
<h1><b>Thomas Bransburg</b></h1>
<p>  <li>Bachelor in Business Administration. Tax Specialist in Global Compliance Services. Python student in CoderHouse.</p>
<div class="container">
    <li class="list-inline-item me-4">
        <a href="https://github.com/thomasbransburg"><i class="bi-github fs-5"></i></a>
    </li>
    <li class="list-inline-item me-4">
        <a href="https://www.linkedin.com/in/thomas-bransburg/"><i class="bi-linkedin fs-5"></i></a>
    </li>
</div>
<br><br>
{% endblock content %}
    