{% extends 'AppEmployees/Employees.html' %}

{% block title %}
Tickets List
{% endblock title %}


{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2"> TICKETS</h1>
<br><br>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'create_ticket_employees' %}">Create Ticket</a>
{% endblock header %}


{% block content %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
    <h1><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-list-task"></i></div>     <u>List of tickets created</u></h1>
                {% for ticket in object_list %}
                <p><li>Ticket number: <b>{{ticket.id}}</b> | Status: {{ticket.status}} | <a href="{% url 'ticket_detail_employees' ticket.pk %}">See details</a> | <a href="{% url 'update_ticket_employees' ticket.pk %}">Update</a></li></p>
                {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}