{% extends 'AppTickets/index.html' %}

{% block title %}TicketTool - Homepage{% endblock title %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">TICKET TOOL</h1>
<p class="display-5 fw-bolder text-white mb-2">Welcome</p>
<br> <br>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href= "{% url 'login_employee' %}">Login as Employee</a>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'login_it' %}">Login as IT Member</a>
    
{% endblock header %}