{% extends 'AppIT_Team/it_team.html' %}

{% block title %}{{it_member.name}} {{it_member.lastname}}{% endblock title %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">{{it_member.name}} {{it_member.lastname}}</h1>
<a class="btn btn-outline-light btn-lg px-4" href="{% url 'IT_Team_Delete' it_member.pk %}">Delete Member</a>
{% endblock header %}

{% block content %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h1><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-file-earmark-person"></i></div>     <u>Details</u></h1>
                <li><u>Email</u>: <b>{{it_member.email}}</b><li>
                <li><u>Job Title</u>: <b>{{it_member.jobtitle}}</b><li>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
