{% extends 'AppIT_Team/it_team.html' %}

{% block title %}List of Messages{% endblock title %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">Ticket messages</h1>
<br><br>
<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'it_message_create' %}">Send a new message</a>
<br><br>
<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'it_message_search' %}">Search messages by ticket number</a>
{% endblock header %}

{% block content %} 
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
    <h1><div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-diagram-2"></i></div>     <u>Messages History</u></h1>
            {% for message in object_list %}
                <p><u>Ticket Number</u>: {{message.ticket_number}} | {{message.date_send}} | <b>{{message.send_by}}</b>: <i>"{{message.message}}"</i></p>
            {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}