{% extends 'AppEmployees/employees.html' %}

{% block title %}Homepage - Employees{% endblock title %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">Welcome {{request.user.username}} {{it_member.lastname}}</h1>
{% endblock header %}

{% block content %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">EMPLOYEES LIST</h2>
                <a class="text-decoration-none" href="{% url 'employee_list' %}">
                    See more
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">TICKETS</h2>
                <a class="text-decoration-none" href="{% url 'ticket_list_employees' %}">
                    See more
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">MESSAGES</h2>
                <a class="text-decoration-none" href="{% url 'employee_message_list' %}">
                    See more
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}